<smart-data-table
  (_handleAction)="handleTableAction($event)"
  [dataSource]="allUsersData$()"
  [actions]="tableActions"
  [pageSizeOptions]="tablePageSizeOptions"
  [isLoadingData]="isLoadingGetAll$()"
  [isLoadingDeleteRow]="isLoadingDelete$()"
>
  <section tableHeaderButtons class="flex justify-end w-full">
    <button
      mat-raised-button
      (click)="handleCreate()"
      class="h-[52px] w-full mb-5 max-w-[170px]"
      color="primary"
    >
      Crear
    </button>
  </section>
</smart-data-table>
