<section class="login-main-container">
  <form [formGroup]="loginForm">
    <!-- <picture routerLink="/">
      <img width="128px" src="../../../../assets/images/logo.jpg" />
    </picture> -->
    <p>Welcome Back</p>
    <p>Fill in using your email and password</p>

    <app-input
      [label]="'Email'"
      formControlName="email"
      [type]="'email'"
      [autoComplete]="'email'"
      [tabIndex]="'1'"
      [placeholder]="'mail@example.com'"
    />
    <div [class.mb-4]="!errorMessage">
      <app-input
        [includeVisibilityEye]="true"
        [label]="'Password'"
        formControlName="password"
        [type]="'password'"
        [tabIndex]="'2'"
        [placeholder]="'*********'"
      />
    </div>
    @if (errorMessage) {
    <p>{{ errorMessage }}</p>
    }

    <button
      mat-flat-button
      (click)="handleLogin()"
      [disabled]="!isFormValid"
      color="primary"
    >
      @if (isLoading()) {
      <mat-progress-spinner
        mode="indeterminate"
        color="accent"
      ></mat-progress-spinner>
      } @else { Log In }
    </button>
  </form>
</section>
