<header class="header-container">
  <p>Smart Finances</p>
</header>
<section class="home-container">
  <section class="hero-bg">
    <section class="hero-container">
      <section class="hero-container__cta-side">
        <h1>
          Saving Is Easy <br />
          With The Right Tool
        </h1>
        <p>Being financially protected requires awareness of our expenses</p>
        <section>
          <button mat-raised-button color="accent">Start Free Trial</button>
        </section>
      </section>
    </section>
  </section>

  <section class="beta-container">
    <h2 class="beta-container__title-h2 title-h2">Financial Sharpness</h2>
    <p class="beta-container__paragraph paragraph">Predict Your Future.</p>
    <section class="prototype-grid">
      <figure class="image-container">
        <img
          class="image-container__img"
          src="../../../../assets/images/prototype.svg"
          alt="prototype"
        />
      </figure>
      <section class="prototype-grid__description-container">
        <h2>Beta Release</h2>
        <p>
          We're working on a new application in which you'll can track your
          finances and achieve your financial goals easily.
        </p>
        <p>
          Financial independence is a matter of being consistent and intelligent
          when it comes to earning and expending.
        </p>
        <p>Stop waiting and start achieving your financial freedom.</p>
      </section>
    </section>
  </section>
</section>

<footer class="footer-bg">
  <section class="footer-container">
    <section class="footer-container__social-container">
      <p>Smart Finances</p>
      <p>Made for people who want to become financially secure.</p>

      <section class="social-container__links-container">
        <a
          href="https://www.linkedin.com/in/yosefblandin/"
          class="cursor-pointer underline"
          >LinkedIn</a
        >
        <a
          href="https://github.com/YosefBlandin"
          class="cursor-pointer underline"
          >Github</a
        >
        <a
          href="https://medium.com/@yosefblandin"
          class="cursor-pointer underline"
          >Medium</a
        >
      </section>
    </section>
  </section>
</footer>
