<section class="home-container">
  <section class="hero-bg">
    <section class="hero-container">
      <section class="hero-container__cta-side">
        <h1>
          Saving Is Easy <br />
          With The Right Tool
        </h1>
        <p>Being financially protected requires awareness of our expenses</p>
        <section>
          <button mat-raised-button color="accent" (click)="goToBudgets()">
            Start Free Trial
          </button>
        </section>
      </section>
    </section>
  </section>

  <section class="beta-container">
    <h2 class="beta-container__title-h2 title-h2">Financial Sharpness</h2>
    <p class="beta-container__paragraph paragraph">Predict Your Future.</p>
    <section class="prototype-grid">
      <figure class="image-container">
        <img
          class="image-container__img"
          src="../../../../assets/images/prototype.svg"
          alt="prototype"
        />
      </figure>
      <section class="prototype-grid__description-container">
        <h2>Beta Release</h2>
        <p>
          We're working on a new application in which you'll can track your
          finances and achieve your financial goals easily.
        </p>
        <p>
          Financial independence is a matter of being consistent and intelligent
          when it comes to earning and expending.
        </p>
        <p>Stop waiting and start achieving your financial freedom.</p>
      </section>
    </section>
  </section>
</section>
