<h2 mat-dialog-title>{{ title }}</h2>
<mat-dialog-content>
  <section class="py-5">
    <p>{{ message }}</p>
  </section>
</mat-dialog-content>

<mat-dialog-actions>
  <section class="w-full flex justify-end px-5 pb-2">
    <button
      type="button"
      mat-stroked-button
      (click)="handleDismiss()"
      class="h-11 min-h-11 2xl:h-12 2xl:min-h-12 w-48"
    >
      {{ secondaryButtonText }}
    </button>
    <button
      type="button"
      mat-flat-button
      (click)="handleConfirm()"
      color="warn"
      class="h-11 min-h-11 2xl:h-12 2xl:min-h-12 w-48"
    >
      {{ buttonText }}
    </button>
  </section>
</mat-dialog-actions>
