<section>
  <!-- <form [formGroup]="expenseForm">
    <app-input
      label="Expense Name*"
      containerClasses="mb-4"
      formControlName="expense_name"
      type="text"
      tabIndex="1"
      placeholder="What did you spend in?"
    />
    <app-input
      label="Amount (USD)*"
      containerClasses="mb-4"
      formControlName="expense_amount"
      type="number"
      tabIndex="2"
      placeholder="How much did you spend?"
    />
    <button mat-flat-button (click)="addNewExpense()" color="primary">
      Create Expense
    </button>
  </form> -->
  <app-data-table [dataSource]="expenses()">
    <section tableHeaderButtons>
      <button mat-flat-button (click)="onAddExpense()" color="primary">
        Create Expense
      </button>
    </section>
  </app-data-table>
</section>
