<article class="budget-card rounded-lg w-full md:max-w-xs py-8 px-4">
  <section class="mb-4 text-center">
    <div class="flex justify-between mb-2">
      <h6 class="font-bold text-lg text-start break-words">Emigration plan</h6>
      <p class="font-medium text-sm text-gray-500">2024/05/03</p>
    </div>
    <div>
      <mat-progress-bar mode="determinate" value="40"></mat-progress-bar>
      <div class="flex justify-between mt-2">
        <p class="text-sm font-bold mb-0">1500$ USD</p>
        <p class="text-sm font-bold mb-0">5000$ USD</p>
      </div>
    </div>
  </section>
  <div class="flex items-center justify-between">
    <div
      class="flex items-center justify-center gap-x-1 rounded-md bg-green-500 opacity-80 w-40 py-2"
    >
      <mat-icon class="font-bold text-white">add</mat-icon>
      <div class="flex flex-col">
        <span class="font-bold text-white">10,5% Monthly</span>
      </div>
    </div>
    <button mat-fab color="primary" aria-label="Go to budget details">
      <mat-icon>arrow_forward_ios</mat-icon>
    </button>
  </div>
</article>
