<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side" [fixedInViewport]="'100vh'">
        <div
            class="flex items-center py-10 justify-center min-w-[200px] w-full"
        >
            <picture class="flex justify-center">
                <img
                    class="w-20 rounded-xl"
                    src="../../../../assets/images/logo.jpg"
                />
            </picture>
        </div>
        <section class="pb-8 flex flex-col min-w-[200px]">
            <ul class="flex flex-col gap-8 mt-6">
                @for (item of menuOptions; track $index) {
                <li
                    (click)="handleOptionClick(item)"
                    class="relative flex cursor-pointer items-center justify-center text-left px-0 py-2 bg-white transition-all duration-100"
                >
                    <div class="flex gap-4 items-center w-full max-w-[140px]">
                        <mat-icon
                            [class.text-gray-500]="
                                !this.isRouteActive(item.url)
                            "
                            [class.text-gray-800]="this.isRouteActive(item.url)"
                            >{{ item.icon }}</mat-icon
                        >
                        <p
                            [class.text-gray-500]="
                                !this.isRouteActive(item.url)
                            "
                            [class.text-gray-800]="this.isRouteActive(item.url)"
                        >
                            {{ item.name }}
                        </p>
                    </div>
                    <div
                        class="absolute right-0 flex h-8 w-1 opacity-0 bg-black"
                        [class.opacity-100]="this.isRouteActive(item.url)"
                    ></div>
                </li>
                }
            </ul>
        </section>
    </mat-sidenav>

    <header
        class="px-8 h-32 flex justify-between items-center"
        (click)="toggleSidenav($event, false)"
    >
        @if(!isDesktop) {
        <button
            type="button"
            class="flex items-center justify-center opacity-0 pointer-events-none"
            [class.opacity-100]="!isDesktop"
            [class.pointer-events-auto]="!isDesktop"
        >
            <mat-icon class="cursor-pointer" (click)="toggleSidenav($event)"
                >menu</mat-icon
            >
        </button>
        }

        <h4 class="font-bold text-xl">{{ activeOptionTitle }}</h4>

        <smart-finances-user-avatar-component
            (handleNavigate)="handleNavigate($event)"
            (handleLogout)="handleLogout()"
        />
    </header>

    <div class="p-8 min-h-[90vh]" (click)="toggleSidenav($event, false)">
        <router-outlet></router-outlet>
    </div>
</mat-sidenav-container>
