<mat-sidenav-container>
  <mat-sidenav #sidenav mode="side" [fixedInViewport]="'100vh'">
    <div class="flex items-center min-w-[200px] h-20 w-full">
      <h3 class="font-bold text-start text-xl mx-auto max-w-[140px] cursor-pointer">ABS</h3>
    </div>
    <section class="pb-8 flex flex-col min-w-[200px]">
      <ul class="flex flex-col gap-4 mt-6">
        @for (item of menuOptions; track $index) {
        <li
          class="relative flex cursor-pointer items-center justify-center text-left px-0 py-2 bg-white transition-all duration-100">
          <div class="flex gap-4 items-center w-full max-w-[140px]" (click)="handleOptionClick(item);">
            <mat-icon>{{ item.icon }}</mat-icon>
            <p>{{ item.name }}</p>
          </div>
          <div class="absolute right-0 flex h-8 w-1 opacity-0 bg-black "
            [class.opacity-100]="this.isRouteActive(item.url)"></div>
        </li>
        }
      </ul>
    </section>
  </mat-sidenav>


  <header class="px-8 h-20 flex justify-between items-center bg-white border-b-[1px] border-gray-200"
    (click)="toggleSidenav($event, false)">

    @if(!isDesktop) {
    <button type="button" class="opacity-0 pointer-events-none" [class.opacity-100]="!isDesktop"
      [class.pointer-events-auto]="!isDesktop">
      <mat-icon class="cursor-pointer" (click)="toggleSidenav($event)">menu</mat-icon>
    </button>
    }

    <h4 class="font-bold text-xl">{{ activeOptionTitle }}</h4>

    <smart-finances-user-avatar-component (handleNavigate)="handleNavigate($event)" (handleLogout)="handleLogout()" />

  </header>

  <div class="p-8 min-h-[90vh]" (click)="toggleSidenav($event, false)">

    <router-outlet></router-outlet>

  </div>
</mat-sidenav-container>