<mat-drawer-container class="layout-container">
  <mat-drawer #drawer class="sidenav-container" mode="side">
    <mat-action-list class="sidenav-menu-container">
      <div class="flex items-center gap-x-2 min-w-[100px] h-20 w-full mb-6">
        <picture class="flex justify-center items-center">
          <img
            class="w-12 rounded-md"
            src="../../../../assets/images/logo.jpg"
          />
        </picture>
        <h3 class="font-bold text-start text-lg cursor-pointer mb-0 pb-0">
          Smart Finances
        </h3>
      </div>

      <section class="sidenav-items-container">
        @for (option of options; track option.label) {

        <button class="rounded-md" mat-list-item>
          <mat-icon class="text-gray-700">{{ option.icon }}</mat-icon>
          {{ option.label }}
        </button>
        }
      </section>
    </mat-action-list>
  </mat-drawer>

  <mat-drawer-content class="header-padding">
    <section style="width: 100%">
      <div class="header-container">
        @if(showDrawerButton()) {
        <button
          type="button"
          mat-button
          (click)="drawer.toggle()"
          style="height: 60px; width: 50px"
        >
          <mat-icon class="sidenav-icon">menu</mat-icon>
        </button>
        } @else {
        <h4>Budgets</h4>
        }

        <app-user-avatar (handleLogout)="handleLogout()" />
      </div>
    </section>
    <router-outlet></router-outlet>
  </mat-drawer-content>
</mat-drawer-container>
