<footer class="footer-bg">
  <section class="footer-container">
    <section class="footer-container__social-container">
      <p>Smart Finances</p>
      <p>Made for people who want to become financially secure.</p>

      <section class="social-container__links-container">
        <a
          href="https://www.linkedin.com/in/yosefblandin/"
          class="cursor-pointer underline"
          >LinkedIn</a
        >
        <a
          href="https://github.com/YosefBlandin"
          class="cursor-pointer underline"
          >Github</a
        >
        <a
          href="https://medium.com/@yosefblandin"
          class="cursor-pointer underline"
          >Medium</a
        >
      </section>
    </section>
  </section>
</footer>
