<header>
  <nav>
    <section>
      <p>
        <strong> Smart Finances </strong>
      </p>
    </section>

    <section>
      <ul>
        <li>
          <p>Home</p>
        </li>

        <li>
          <p>How it works</p>
        </li>

        <li>
          <p>About</p>
        </li>
      </ul>
    </section>

    <section>
      <button>Log In</button>
      <button>Register</button>
    </section>
  </nav>
</header>

<main>
  <h1>
    Manage your personal finances in a <strong>smart</strong> and
    <strong>easily</strong> way
  </h1>

  <section>
    <app-button [spinnerColor]="'black'" [buttonClass]="'primary'">
      Sign up for free
    </app-button>

    <hr />
    <p>Or continue with</p>
    <section>
      <app-button [spinnerColor]="'black'" [buttonClass]="'secondary'">
        Google
      </app-button>
      <app-button [spinnerColor]="'black'" [buttonClass]="'secondary'">
        Apple
      </app-button>
    </section>
  </section>

  <section>
    <picture>
      <img
        src="../../../../../assets/svg/chart.svg"
        alt="Charts about excelent results"
      />
    </picture>
  </section>
</main>

<footer>
  <p>Smart Finances All Rights Reserved</p>
  <p>Developed By <strong>Yosef Blandin</strong></p>
</footer>
