<header class="header">
  <nav class="nav-container">
    <section class="nav-container__title-container">
      <p>
        <strong> Smart Finances </strong>
      </p>
    </section>

    <section>
      <ul>
        <li>
          <p>Home</p>
        </li>

        <li>
          <p>How it works</p>
        </li>

        <li>
          <p>About</p>
        </li>
      </ul>
    </section>

    <section class="nav-container__buttons-container">
      <app-button [spinnerColor]="'black'" [buttonClass]="'secondary'">
        Log In
      </app-button>
      <app-button [spinnerColor]="'black'" [buttonClass]="'primary'">
        Get in touch
      </app-button>
    </section>
  </nav>
</header>

<main class="home-container">
  <section class="home-container__hero-container">
    <section>
      <section class="hero-container__titles-section">
        <span>Impacting lives across the world</span>
        <h1>Where you can know the destiny of your money</h1>
        <h2>Build the future that you want</h2>
      </section>

      <section class="hero-container__buttons-container">
        <app-button [spinnerColor]="'black'" [buttonClass]="'primary'">
          Try for free
        </app-button>
        <app-button [spinnerColor]="'black'" [buttonClass]="'secondary'">
          Get in touch
        </app-button>
      </section>
    </section>

    <section>
      <picture>
        <img
          src="../../../../../assets/svg/chart.svg"
          alt="Charts about excelent results"
        />
      </picture>
    </section>
  </section>

  <section class="home-container__banner">
    <section class="banner-container">
      <h2>Track your finances as never before</h2>
      <p>
        By tracking your spending, you get a clear picture of your financial
        situation. This helps you to create a budget and plan your finances
        better. When you have a clear idea of how much money you have coming in
        and going out, you can allocate your funds better, pay off debts, and
        save for future expenses.
      </p>
    </section>
  </section>
</main>

<footer class="footer">
  <p>Smart Finances All Rights Reserved</p>
  <p>Developed By <strong>Yosef Blandin</strong></p>
</footer>
