<h2 mat-dialog-title class="text-center font-black pt-8">New Budget</h2>

<mat-dialog-content>
  <section class="pt-5">
    <mat-stepper [orientation]="isDesktop() ? 'horizontal' : 'vertical'">
      <mat-step
        label="Budget Main Information"
        [stepControl]="mainBudgetInfoForm"
      >
        <form [formGroup]="mainBudgetInfoForm" class="mt-2">
          <app-input
            label="Budget Name*"
            containerClasses="mb-4"
            formControlName="name"
            type="text"
            tabIndex="1"
            placeholder="Budget Name?"
          />

          <section class="flex flex-col lg:grid lg:gap-x-4 lg:grid-cols-2">
            <app-input
              label="Start Date*"
              containerClasses="mb-4"
              formControlName="start_date"
              type="date"
              tabIndex="2"
              placeholder="DD/MM/YYYY"
            />

            <app-input
              label="End Date*"
              containerClasses="mb-4"
              formControlName="end_date"
              type="date"
              tabIndex="3"
              placeholder="DD/MM/YYYY"
            />
          </section>

          <app-input
            label="Total Savings Amount*"
            containerClasses="mb-4"
            formControlName="total_savings_goal"
            type="number"
            tabIndex="4"
            placeholder="Amount"
          />
        </form>
      </mat-step>

      <mat-step label="Budget Income" [stepControl]="budgetIncomeForm">
        <form [formGroup]="budgetIncomeForm" class="mt-2">
          <app-input
            label="Amount Saved*"
            containerClasses="mb-4"
            formControlName="amount_saved"
            type="number"
            tabIndex="1"
            placeholder="Amount"
          />

          <section class="mb-4">
            <h5 class="text-lg">Add Your Earnings</h5>
            <p class="text-md">
              Specify the amount and frequency of your income streams
            </p>
          </section>

          <section>
            @for (incomeStreamFormGroup of allIncomeStreamsForms; track
            incomeStreamFormGroup.name) {
            <form [formGroup]="incomeStreamFormGroup">
              <app-input
                label="Name*"
                containerClasses="mb-4"
                formControlName="name"
                type="text"
                tabIndex="1"
                placeholder="Name"
                [autoCompleteOptions]="earningsOptions"
              ></app-input>

              <app-input
                label="Amount*"
                containerClasses="mb-4"
                formControlName="amount"
                type="number"
                tabIndex="2"
                placeholder="Amount"
              ></app-input>

              <app-input-select
                label="Frequency"
                containerClasses="mb-4"
                formControlName="frequency"
                tabIndex="4"
                placeholder="Ex: One Time, Daily, Biweekly."
                [options]="frequencyOptions"
              />

              @if (incomeStreamFormGroup.get("frequency").value === 0) {
              <app-input
                label="Date Occurred*"
                containerClasses="mb-4"
                formControlName="date_occurred"
                type="date"
                tabIndex="5"
                placeholder="Date Occurred"
              ></app-input>
              } @if (incomeStreamFormGroup.get("frequency").value !== 0) {
              <app-input
                label="Start Date*"
                containerClasses="mb-4"
                formControlName="start_date"
                type="date"
                tabIndex="6"
                placeholder="Start Date"
              ></app-input>

              <app-input
                label="End Date*"
                containerClasses="mb-4"
                formControlName="end_date"
                type="date"
                tabIndex="7"
                placeholder="End Date"
              ></app-input>
              }
            </form>

            }
          </section>
        </form>
      </mat-step>
    </mat-stepper>
  </section>

  <mat-dialog-actions>
    <section class="w-full flex justify-end pb-2 max-w-md">
      @if (currentStepIndex === 0) {
      <button
        mat-stroked-button
        (click)="handleCloseModal()"
        [disabled]="isLoading$()"
        class="h-12 w-48"
      >
        Cancel
      </button>
      } @else {
      <button
        mat-stroked-button
        (click)="handlePreviousStep()"
        [disabled]="isLoading$()"
        class="h-12 w-48"
      >
        Go back
      </button>
      } @if (currentStepIndex === stepsArrLength) {
      <button
        mat-flat-button
        (click)="handleSubmit()"
        [disabled]="areFormsInvalid$()"
        color="primary"
        class="h-11 min-h-11 2xl:h-12 2xl:min-h-12 w-48"
      >
        @if (isLoading$()) {
        <div role="status">
          <svg
            aria-hidden="true"
            class="w-7 h-7 text-gray-200 animate-spin dark:text-gray-600 fill-white"
            viewBox="0 0 100 101"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M100 50.5908C100 78.2051 77.6142 100.591 50 100.591C22.3858 100.591 0 78.2051 0 50.5908C0 22.9766 22.3858 0.59082 50 0.59082C77.6142 0.59082 100 22.9766 100 50.5908ZM9.08144 50.5908C9.08144 73.1895 27.4013 91.5094 50 91.5094C72.5987 91.5094 90.9186 73.1895 90.9186 50.5908C90.9186 27.9921 72.5987 9.67226 50 9.67226C27.4013 9.67226 9.08144 27.9921 9.08144 50.5908Z"
              fill="currentColor"
            />
            <path
              d="M93.9676 39.0409C96.393 38.4038 97.8624 35.9116 97.0079 33.5539C95.2932 28.8227 92.871 24.3692 89.8167 20.348C85.8452 15.1192 80.8826 10.7238 75.2124 7.41289C69.5422 4.10194 63.2754 1.94025 56.7698 1.05124C51.7666 0.367541 46.6976 0.446843 41.7345 1.27873C39.2613 1.69328 37.813 4.19778 38.4501 6.62326C39.0873 9.04874 41.5694 10.4717 44.0505 10.1071C47.8511 9.54855 51.7191 9.52689 55.5402 10.0491C60.8642 10.7766 65.9928 12.5457 70.6331 15.2552C75.2735 17.9648 79.3347 21.5619 82.5849 25.841C84.9175 28.9121 86.7997 32.2913 88.1811 35.8758C89.083 38.2158 91.5421 39.6781 93.9676 39.0409Z"
              fill="currentFill"
            />
          </svg>
          <span class="sr-only">Loading...</span>
        </div>
        } @else { Create }
      </button>
      } @else {
      <button
        mat-flat-button
        (click)="handleNextStep()"
        [disabled]="isStepInvalid() || isLoading$()"
        color="primary"
        class="h-12 w-48"
      >
        Next
      </button>
      }
    </section>
  </mat-dialog-actions>
</mat-dialog-content>
